.techfont{
    font-family: 'Kosugi', sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.bigbrand{
    font-size: 1.5em;
}

.centerstage{
    margin-left: auto;
    margin-right: auto;
}

.postdate {
    text-align: center;
}

.posttitle{
    font-size:3em;
    text-align: center;
}

.postcontent{
    font-size: 1.5em;
}

.btn-comment{
    position:absolute;
    right: 0px;
}

h1{
  font-family: Oak,sans-serif;
  color: rgba(0,0,0,0.7);
  position:relative;
  top:calc(50% - 80px);
  left:calc(50% - 130px);
}


.loader {
  position:fixed;
  filter:hue-rotate(0deg);
  solid-color:linear-gradient(rgb(0, 255, 136), rgb(0, 136, 255));
  animation:hue 10000ms infinite linear;
}

@keyframes spinify {
  0% {
    transform: translate(0px,0px);

  }
  33% {
    transform: translate(0px,24px);
    border-radius:100%;
    width:10px;
    height:10px;

  }
   66% {
    transform:translate(0px,-16px);
  }

   88% {
    transform:translate(0px,4px);

  }
  100% {
    transform:translate(0px,0px);
  }
}
@keyframes hue{
  0%{filter: hue-rotate(0deg);}
  100%{filter:hue-rotate(360deg);}

}